@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased; /* enable antialiased font smoothing in the Safari browser */
  -moz-osx-font-smoothing: grayscale; /* enable font smoothing in the Firefox browser */
}

.gradient-bg-welcome {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, #000000 0, transparent 50%),
    radial-gradient(at 33.33% 0%, #FFD653FF 0, transparent 50%),
    radial-gradient(at 66.66% 0%, #DDB65DFF 0, transparent 50%),
    radial-gradient(at 100% 0%, #EEB238FF 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#0f0e13;
  background-image:
  radial-gradient(at 0% 0%, #0f0e13 0, transparent 50%),
  radial-gradient(at 0% 100%, #EEB238FF 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
  radial-gradient(at 0% 0%, #EEB238FF 0, transparent 50%),
  radial-gradient(at 100% 150%, #DDB65DFF 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 100% -50%, #DDB65DFF 0, transparent 50%), 
    radial-gradient(at 0% 150%, #EEB238FF 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card { /* https://www.csshero.org/mesher/ */
  background-color:#99c3ff;
  background-image:
    radial-gradient(at 10% 34%, hsla(210,89%,63%,1) 0px, transparent 50%),
    radial-gradient(at 28% 64%, hsla(328,73%,66%,1) 0px, transparent 50%),
    radial-gradient(at 90% 32%, hsla(299,68%,74%,1) 0px, transparent 50%),
    radial-gradient(at 49% 0%, hsla(48,84%,63%,1) 0px, transparent 50%),
    radial-gradient(at 17% 61%, hsla(2,93%,79%,1) 0px, transparent 50%),
    radial-gradient(at 29% 21%, hsla(336,68%,65%,1) 0px, transparent 50%),
    radial-gradient(at 48% 18%, hsla(239,93%,72%,1) 0px, transparent 50%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;